@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

.featurepage-primary{
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    color: white;
    padding: 10px;
}

.featurepage-primary .headings{
    width: 50%;
    margin: 10px auto;
    font-weight: lighter;
}

.featurepage-primary .headings h2{
    color: #eb0028;
}

.featurepage-primary .video{
    padding: 10px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 760px) {
    .featurepage-primary .headings{
        width: 100%;
        margin: 0;
    }
}
